html, body, .container {
    height: 100%;
}

.clear {
    clear: both;
}

.header {
    margin: 10px auto;
    padding: 0;
    border: none;
}

.footer {
    margin: 10px auto 20px auto;
    padding: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.form-group {
    position: relative;
}

.container {
    position: relative;
    padding: 0;
}

.container_block {
    min-height: calc(100% - 175px);
}

.container_block.isloggedin {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.textarea {
    background: url(/templates/default/assets/img/line.png) repeat-y;
    line-height: 31px;
    padding: 8px;
    border: 1px solid #4596cc;
}

.welcome_bg {
    /*background: url("/templates/default/assets/img/bg_sky.jpg") 50% 65px repeat-x;*/
    /*background-size: cover;
    background: #559bd7;
    background: -webkit-linear-gradient(#559bd7, #87ebfa);
    background: -o-linear-gradient(#559bd7, #87ebfa);
    background: -moz-linear-gradient(#559bd7, #87ebfa);
    background: linear-gradient(#559bd7, #87ebfa);
    background-position: 50% 65px;*/
}

.header_bg {
    background: url("/templates/default/assets/img/header.png") 0 0 repeat-x;
    background-color: #f3f3f4;
}

.welcome_content {
    width: 100%;
    height: 585px;
    text-align: center;
    margin-top: 50px;
    color: #222;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f4;
    border-radius: 5px;
}

.welcome_content h1 {
    font-size: 45px;
}

.btn_signup, .btn_signin {
    height: 35px;
    min-width: 80px;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 7px 10px 0 10px;
    font-weight: bold;
    vertical-align: middle;
}

.btn_signup:hover, .btn_signin:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}

.rubric_starter {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    color: #222;
    border-radius: 5px;
    text-align: left;
}

.login_rubric, .create_rubric {
    display: none
}

.profile-select {
    margin-top: 10px;
    cursor: pointer;
}

.profile-select li {
    height: auto !important;
    padding: 3px !important;
}

#profile-select .uName {
    display: inline-block;
    text-overflow: ellipsis;
    min-width: 82px;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.header_menu_left {
    padding: 0;
    margin: 0;
    height: 50px;
}

.header_menu_left .logo {
    margin-top: 5px;
}

.header_menu_left .nav {
    font-weight: bold;
    height: 50px;
}

.header_menu_left .nav li {
    vertical-align: middle;
    height: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.header_menu_left .nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 50px;
    padding-top: 14px;
}

.header_menu_left .nav-pills > li.active > a,
.header_menu_left .nav-pills > li.active > a:focus,
.header_menu_left .nav-pills > li.active > a:hover {
    background-color: #4596cc;
}

.header_menu_right {
    text-align: right;
    padding: 0;
    margin: 0;
    height: 50px;
}

.header_menu_right li {
    height: 50px;
    vertical-align: middle;
    padding-top: 6px;
}

.flangs {
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: 3px solid #dedede;
    padding: 3px 8px 2px;
    cursor: pointer;
    float: right;
}

.flangs li {
    height: auto !important;
    padding: 2px !important;
}

.rubric_item_block {
    width: 100%;
    margin-bottom: 10px;
    position: relative
}

.rubric_item_block textarea {
    width: 46%;
}

.rubric_item_block span, .rubric_item_block textarea, .rubric_item_block button {
    vertical-align: middle;
}

.rubric_item_block img {
    position: absolute;
    right: 25px;
    top: 7px;
}

.rubric_item_header {
    width: 100%;
}

.rubric_orig, .rubric_eng {
    width: 46%;
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.rubric_item_add {
    text-align: center;
    width: 44%;
}

.rubric_page {
    width: 100%;
}

.rubric_item_continue {
    text-align: center;
}

.rubric_item_continue .btn {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
}

.parent_block, .rubric_defs {
    padding-left: 10px !important;
}

.rubric_qualities h3 {
    margin-top: 10px;
    font-weight: bold;
}

h3.level1 {
    font-size: 22px;
    width: 45%;
    display: inline-block;
}

h3.level1.right {
    margin-left: 90px;
}

h3.level2 {
    font-size: 18px;
    width: 45%;
    display: inline-block;
}

h3.level2.right {
    margin-left: 90px;
}

.rubric_page h2 {
    text-align: center
}

.read_rubric_header {
    margin: 20px;
}

.read_rubric_header span {
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle
}

.read_rubric_header a {
    font-size: 18px;
}

.no_rubric_error {
    font-size: 22px;
    color: red;
    text-align: center;
    margin-top: 50px;
}

.read_rubric_qualities {
    margin: 20px;
    font-size: 18px;
}

.read_rubric_qualities .eng {
    display: none;
}

.read_rubric_quality {
    color: #337ab7;
    font-weight: bold;
}

.read_rubric_def {
    margin: 10px 0 0 50px;
    color: #449d44;
}

.read_rubric_def[dir="rtl"] {
    margin: 10px 50px 0 0;
}

.read_rubric_measurement {
    margin: 10px 0 0 100px;
    color: #ec971f;
    font-style: italic;
}

.read_rubric_measurement[dir="rtl"] {
    margin: 10px 100px 0 0;
}

.all_rubrics {
    width: 400px;
    margin-top: 10px;
}

.download_pdf {
    border: 1px solid #cccccc;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.cjk_options {
    display: none;
}

#rubric_bg {
    width: 100%;
    background: url("/templates/default/assets/img/logo_bg.png") no-repeat;
    background-size: 100%;
    min-height: 600px;
    text-align: center;
    padding-top: 100px;
}

.event_link {
    margin-top: 20px;
}

.event_link a {
    display: block;
    width: 400px;
    height: 100px;
    background-image: linear-gradient(to bottom, #00b200 0px, #008000 100%);
    background-repeat: repeat-x;
    background-color: #00b200;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    padding-top: 30px;
    font-size: 26px;
    font-weight: bold;

}

.rubric_list_link a {
    background-image: linear-gradient(to bottom, #337ab7 0px, #2f659d 100%);
    background-repeat: repeat-x;
    background-color: #337ab7;
}

.rubric_demo_link a {
    background-image: linear-gradient(to bottom, #b73b00 0px, #922600 100%);
    background-repeat: repeat-x;
    background-color: #b73b00;
}

#rubric_left {
    width: 575px;
    min-height: 500px;
    float: left;
    border-right: 1px solid #ccc;
}

#rubric_right {
    width: 575px;
    min-height: 500px;
    float: left;
    padding-top: 30px;
}

.left_elm {
    margin-left: calc(50% - 200px);
}

.right_elm {
    margin-left: 20px;
    margin-top: 20px;
    min-height: 100px;
    font-size: 22px;
}

.rubric_page h2 span {
    color: #ff0000;
}

.rubric_item_orig, .rubric_item_eng {
    overflow-x: hidden;
    overflow-y: auto;
}

.lang_filter_box {
    margin: 20px 0;
}

#lang_filter {
    width: 400px;
}

.my_tab, .my_tab > a {
    color: #222;
}

.my_tab.active, .my_tab.active > a {
    font-weight: bold;
    color: #4596cc !important;
}

.my_content {
    display: none;
    margin-top: 20px;
}

.my_content.shown {
    display: block;
}

.tools_left {
    width: 40%;
    float: left;
    padding-left: 20px;
}

.tools_right {
    width: 50%;
    float: right;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
}

.update_langs {
    margin-top: 20px;
}

.tools_title {
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
    font-weight: bold;
    color: #ff880f;
}

#tools img {
    display: none;
}

.faqs_page {
    padding: 20px;
    margin: 0 20px;
    width: 700px;
    color: #222;
}

.faq {
    margin-bottom: 20px;
}

.faq_answer_content {
    display: none;
    font-size: 18px;
    margin-top: 10px;
}

.faq_answer_content .faq_category {
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    font-weight: bold;
    color: #888;
    margin-top: 10px;
}

.faq_question_header {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.faq_question_header span {
    position: absolute;
    left: -30px;
    top: 5px;
    font-size: 14px;
}

.faq_list.tools ul {
    padding: 0;
    list-style: none;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.faq_list.tools ul li {
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-top: 10px;
}

.faq_list.tools ul li .faq_question {
    font-weight: bold;
    font-size: 18px;
}

.faq_list.tools ul li .faq_cat {
    text-align: right;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    font-weight: bold;
    color: #888;
    margin-top: 10px;
}

.faq_list.tools ul li .tools_delete_faq {
    position: absolute;
    left: 0;
    bottom: 3px;
    top: auto;
    cursor: pointer;
}

.faq_list.tools ul li .tools_delete_faq span {
    color: #F00;
    font-weight: bold;
}

.faq_list.tools ul li .tools_delete_faq span:hover {
    border: 1px solid;
    padding: 0 2px;
    border-radius: 5px;
}

.faq_list.tools ul li .tools_delete_faq img {
    position: absolute;
    width: 16px;
    left: 50px;
    top: 1px;
}

.questions_editor {
    padding: 5px;
}

.note-editor.note-frame {
    border: none !important;
}

.note-editor.note-frame .note-editing-area .note-editable {
    background-color: #fff9e4 !important;
}

.note-editor.panel {
    box-shadow: none;
}

.note-editor .note-statusbar {
    display: none;
}

#tools .note-editor img, #tools .faq_answer img {
    display: initial;
}